@import url(bootstrap-4.3.1-dist/css/bootstrap.css);

.gora {
  background-color: #00B7CD;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 5px;
  top: 0;
  left: 0;
  margin: 0;
}

.kafelek {
  color: #DDDDDD;
  font-size: 150%;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.5s;
}



.kafelek:hover {
  border-bottom: solid 3px white;
  color: white;
  animation: highlight 0.5s ease-in-out forwards;
}

@keyframes highlight {
  0% {
    border-bottom-color: #00B7CD;
  }

  100% {
    border-bottom-color: #fff;
    /* Kolor podświetlenia */
  }
}

.selected {
  border-bottom: solid 3px white;
  color: white;
}

#kontener {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  padding: 10px;
}

#kontener {
  min-height: calc(100vh - 80px);
  /* 80px to wysokość stopki */
  box-sizing: border-box;
  padding-bottom: 80px;
}

* {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Standardowy */
}



html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}