<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

<div class="gallery">
    <div class="image"><a href="https://www.curseforge.com/minecraft/mc-mods/mineguns-mod" target="_blank">
      <img src="https://cdn.discordapp.com/attachments/1078713765081657404/1078727455243784242/furry.png" alt="Obrazek 1">
      </a>
      <div class="caption">Mineguns</div>
    </div>
    <div class="image"><a href="https://www.curseforge.com/minecraft/mc-mods/attackonminecraft" target="_blank">
      <img src="https://cdn.discordapp.com/attachments/1078713765081657404/1078728109605523476/furr.png" alt="Obrazek 2">
    </a>
      <div class="caption">Attack On Mine</div>
    </div>
    <div class="image"><a href="https://www.curseforge.com/minecraft/mc-mods/witcherminehunt" target="_blank">
      <img src="https://cdn.discordapp.com/attachments/1078713765081657404/1078728792144625774/furr.png" alt="Obrazek 3">
    </a>
      <div class="caption">Witcher Mine Hunt(VERY EARLY VERSION)</div>
    </div>
  </div>


  <app-home-galeria></app-home-galeria>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



